<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>The Sharing Community</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
	  	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<%= erb :navbar %>
			</div>
			<div class="col-md-1"></div>
		 </div>
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
  					<div class="panel-heading">
    					<h3 class="panel-title">Our Story</h3>
  					</div>
  					<div class="panel-body">
									<img border="0" src="images/Logo2.jpg" width="148" height="88" align="top">
									<img border="0" src="/images/namelogo.jpg" align="middle" width="159" height="82">
						<br>
						<br>
    					<p>The Sharing Community, Inc. is a dynamic,
minority-controlled, church-sponsored (but separately incorporated), multi-service community-based organization in Yonkers, NY. Currently we operate over 18 programs that offer the widest possible continuum of care to the homeless, hungry and ill residents of southwest Yonkers - from emergency shelter and food programs to street and community outreach, HIV/AIDS supportive services, substance abuse counseling, job training, health care and mental health treatment as well as transitional and permanent housing. </p>
  					</div>
				</div>
			</div>
			<div class="col-md-4">

				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h3 class="panel-title"><a href="/donate">Donate Now</a></h3>
  					</div>
  					<div class="panel-body">
						<a href="http://www.nycharities.org/donate/charitydonate.asp?ID=1287">
							<img border="0" src="/images/donate_now.gif" width="120" height="75" align="left">
						</a>
  					</div>
				</div>

				<div class="panel panel-default">
  				<!-- Default panel contents -->
  					<div class="panel-heading">
						<h3 class="panel-title">TSC News and Events</h3>
					</div>
  				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">
						<p><a href="#"><strong>Mark your calendar</strong></a></p>
						<p>31st Annual Community Thanksgiving Dinner for the Homeless and Hungry.</p>
					</li>
					<li class="list-group-item">
						<p><a href="#"><strong>Community Coat Drive</strong></a></p>
						<p>Coat donations greatly appreciated.</p>
					</li>
					<li class="list-group-item">
						<p><a href="#"><strong></strong></a></p>
						<p></p>
					</li>
				</ul>
				</div>

			</div>
			<div class="col-md-1">
			</div>
	   </div>


	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
