<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ShopBot</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	 <link href="/css/carousel.css" rel="stylesheet">
  </head>
  <body>
	  <%= erb :navbar %>
	  <br>
	  <br>
	  <br>
	  <br>
	  <div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-3.3">
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h3 class="panel-title">3D Printing</h3>
  					</div>
  					<div class="panel-body">
    					<button type="button" class="btn btn-primary">Print</button>
  					</div>
				</div>
			</div>
			<div class="col-md-3.4">
				<div class="panel panel-info">
  					<div class="panel-heading">
						<h3 class="panel-title">Room Controls</h3>
  					</div>
  					<div class="panel-body">
    					...
  					</div>
				</div>
			</div>
			<div class="col-md-3.3">
				<div class="panel panel-default">
  					<div class="panel-heading">
						<h3 class="panel-title">Music</h3>
  					</div>
  					<div class="panel-body">
    					...
  					</div>
				</div>
			</div>
		  	<div class="col-md-1">
		  	</div>
	   </div>

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
